.benefits-container {
  background-color: white;
  .benefits-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 19%;
  }
  ul {
    list-style: none;
    margin-left: 15%;
  }
}

@media (max-width: 768px) {
  .benefits-container {
    margin-left: 0;
    .benefits-title {
      font-size: 1.3rem;
      font-weight: 500;
      margin-left: 4%;
    }
    ul {
      margin-left: 0;
      li {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
}
