.hiw-card {
  display: grid;
  justify-self: center;
  justify-items: center;
  height: 30%;
  .hiw-icon{
    width: 90%;
    height:150px
  }
  .hiw-text {
    margin-bottom: 0;
    text-align: center;
  }
}
