.main-form-container {
  display: grid;
  justify-self: center;
  justify-items: center;
  margin-top: 5%;
  .form-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .text-container {
      display: grid;
      .text {
        color: #ff7f26;
        font-weight: 500;
        width: 55%;
        text-align: center;
        justify-self: center;
      }
      .form-button {
        width: 40%;
        height: 40px;
        justify-self: center;
        margin-top: 2%;
        background-color: #ff7f26;
        color: white;
        border-radius: 5px;
        border: #ff7f26;
      }
    }
    .hospital-img {
      width: 100%;
    }
  }
}
