.main-navbar {
  display: grid;
  width: 100%;
  justify-content: center;
  .nav-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width: 100%;
    margin: 0;
    background-color: white;
    .navbar-logo1 {
      width: 15%;
      justify-self: start;
      align-self: center;
    }
    .navbar-logo2 {
      width: 40%;
      justify-self: start;
      align-self: center;
    }
  }
}
.navbar-light .navbar-nav .nav-link {
  color: #ff7f26;
  font-size: 1.1rem;
}

/*************************************/

@media (max-width: 900px) {
  .main-navbar {
    display: grid;
    width: 100%;
    justify-content: center;
    .nav-container {
      display: grid;
      grid-template-columns: 1fr max-content;
      width: 100%;
      margin: 0;
      background-color: white;
      .navbar-logo1 {
        width: 60%;
        justify-self: start;
        align-self: center;
      }
      .navbar-logo2 {
        display: none;
      }
    }
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 0.9rem;
  }
}
