.navcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0;
  .logo1 {
    width: 15%;
  }

  .nav-links {
    font-size: 20px;
    color: black;
  }
  select {
    border: none;
    font-size: 20px;
  }
  option {
    font-size: 15px;
  }

  body.active-modal {
    display: block;
  }

  .nav-buttons {
    border: 0;
    background-color: transparent;

    align-self: center;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: #ff7f26;
  font-size: 1.1rem;
}

/*************************************/
