.div-container {
  display: grid;
  height: 50vh;
  justify-content: center;
  .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
}
