.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-links {
  font-size: 20px;
  color: black;
}
select {
  border: none;
  font-size: 20px;
}
option {
  font-size: 15px;
}

body.active-modal {
  display: block;
}

.nav-buttons {
  border: 0;
  background-color: transparent;

  align-self: center;
}
.navbar-light .navbar-nav .nav-link {
  color: #ff7f26;
}

/*************************************/
